@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav {
  font-family: 'Pacifico', cursive;
}

.App-header {
  background-color: #EEEEEE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #212121;
}

#feriestengt {
  text-align: center;
}

#ferieStengtHeader {
  background-color: #33bbc7;
}

#header-img {
  max-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#price-list {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.table thead th:nth-child(1), .table thead th:nth-child(2), .table thead th:nth-child(3) {
  border-top: 0px;
} 

#opening-times {
 margin: auto;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 border-radius: 10px;
 width: 100%;
/*  background-color: #212121f4;
 color: white; */
}

hr.solid {
  border-top: 1px solid #bbb;
}

.borderless td, .borderless th {
  border: none;
  padding: 10px;
}

.splitGrid {
  display: grid;
  grid-template-columns: 2fr 1.4fr;
  grid-gap: 20px;
}

.responsive-table-sm {
  display: table;
  width: 100%;
}

.highlighted {
  color: #f0d004;
  font-size: 20px;
  padding: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  nav {
    justify-content: center;
  }
  
  .splitGrid {
    grid-template-columns: auto;
  }
}